body {
  background-color: rgb(228, 216, 239);
  text-align: center;
  font-family: "Fira sans", sans-serif;
  margin: 10px;
}
img {
  box-shadow: 2px 3px 14px rgba(0, 9, 9, 0.3);
  height: 160px;
  border-radius: 40px;
}
header {
  font-size: 25px;
  color: rgb(64, 64, 163);
  background-color: rgb(228, 216, 239);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 20px;
}
main {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 192);
  box-shadow: 2px 2px 9px rgba(0, 9, 9, 0.3);
  text-align: left;
  width: 700px;
  margin: 40px auto 35px auto;
  padding: 27px;
  border-radius: 8px;
}
ul {
  list-style: none;
  margin: 2px -10px;
}
li {
  margin: 10px;
  color: rgb(250, 237, 220);
}
footer a {
  background-color: rgb(255, 218, 95);
  color: rgb(44, 44, 44);
  border: 1px solid black;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
}
footer p {
  color: rgb(120, 122, 151);
  margin-top: 30px;
}
.List-link {
  color: rgb(44, 44, 44);
  background-color: rgb(255, 218, 95);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
}
.important-points {
}
