body {
  background-color: rgb(244, 234, 255);
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
h1 {
  color: rgb(88, 49, 196);
  font-size: 52px;
}
header {
  padding: 32px;
}
header img {
  height: 160px;
  border-radius: 15%;
  padding: 10px;
}
img:hover {
  box-shadow: 2px 3px 14px rgba(0, 9, 9, 0.3);
}
main {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 192);
  box-shadow: 2px 2px 9px rgba(0, 9, 9, 0.3);
  border: 3px solid black;
  text-align: left;
  width: 700px;
  margin: 32px auto;
  padding: 32px;
  border-radius: 8px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  color: rgb(250, 237, 220);
  border-left: 5px solid transparent;
  margin: 14px 0;
  padding-left: 10px;
}
footer a {
  background-color: rgb(255, 218, 95);
  color: rgb(44, 44, 44);
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 700;
}
footer a:hover,
footer a:active {
  background-color: rgb(212, 150, 5);
}
footer p {
  color: rgb(131, 133, 149);
  margin-top: 30px;
}
.List-link {
  color: rgb(36, 3, 102);
  background-color: rgb(255, 218, 95);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
.List-link:hover,
.List-link:active {
  background-color: rgb(215, 203, 161);
}
.important-points {
  color: rgb(230, 221, 102);
  border-left: 5px solid rgb(247, 209, 85);
}
