h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
form {
  background-color: rgb(203, 216, 227);
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0.4px 0.6px 6px black;
}
form h2 {
  padding: 0;
  margin: 0;
}
input {
  padding: 0.5rem;
}
select {
  padding: 0.5rem;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
}
.buttons ul {
  display: flex;
  justify-content: right;
}
.buttons li {
  margin: 0.1rem;
}
.buttons ul button {
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
}
#check-box {
  margin-top: 0.4rem;
}
