body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
form {
  background-color: rgb(203, 216, 227);
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0.4px 0.6px 6px rgb(39, 39, 39, 0.6);
}
form h2 {
  padding: 0;
  margin: 0;
}
input {
  padding: 0.5rem;
}
label {
  margin: 0.5rem 0;
}
select {
  padding: 0.5rem;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
}
.buttons ul {
  display: flex;
  justify-content: right;
}
.buttons li {
  margin: 0.1rem;
  padding: 0;
}
.buttons ul button {
  background-color: rgb(161, 161, 161);
  padding: 0.3rem 0.6rem;
  font-family: inherit;
}
#check-box {
  margin-top: 0.4rem;
}
#submit-button {
  background-color: darkblue;
  color: white;
}
