div {
  background-color: rgb(192, 192, 192);
  padding: 200px;
  text-align: center;
}

p {
  color: blue;
  padding: 50ipx;
  margin: 90px;
}

#container {
  background-color: #521751;
}

#container p {
  color: white;
}
#one {
  background-color: #94p092;
}
#two {
  background-color: #c95bc7;
  position: absolute;
  top: 55px;
  top: 0;
  left: 0;
  width: 12%;
}
#three {
  background-color: #dd61db;
}
