<article class="post-item">
   <h2><%= post.title %></h2>
   <p class="post-item-author">By <%= post.author_name %></p>
   <p><%= post.summary %></p>
   <div class="post-actions">
      <button class="btn btn-alt">Delete Post</button>
      <a href="...">Edit Post</a>
      <form action="/post-details" method="get">
         <input type="hidden" name="postid" value="<%= post.id %>" />
         <button class="btn">View Post</button>
      </form>
      <!-- <a class="btn" href="/post-details">View Post</a> -->
   </div>
</article>
