header {
  margin-bottom: 60px;
}
h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}
#header-description {
  margin: 12px 0;
}
h2 {
  color: rgb(78, 12, 5);
  font-family: "Oswald", sans-serif;
}
/* header p {
  margin-bottom: 36px;
} */

main {
  background-color: rgb(244, 215, 178);
  margin: 20px -70px;
}
a {
  background-color: rgb(167, 1, 78);
  border: 2px solid rgb(49, 41, 45);
  color: antiquewhite;
  border-radius: 6px;
  font-size: 24px;
  padding: 12px 48px;
  margin: 0;
  display: inline-block;
}
a:hover {
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(186, 48, 48);
}
ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}
li {
  padding: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(230, 126, 113);
  margin: 30px;
  border-radius: 10px;
}
li:hover {
  border: 1px solid rgb(0, 0, 0);
}
/* main p {
  color: rgb(71, 29, 22);
  margin: 12px;
} */
.highlight-goal {
  background-color: rgb(226, 115, 101);
}
