body {
  background-color: rgb(233, 215, 207);
  color: rgb(68, 61, 61);
  font-size: 20px;
  margin: 70px;
  text-align: center;
}
h1 {
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
}
a {
  font-family: "Fira sans", sans-serif;
  text-decoration: none;
  color: rgb(166, 1, 79);
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
