html {
  --font-size-large: 4rem;
  --font-size-medium-large: 2.1rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 0.7rem;
  --font-family-1: "Roboto Mono", sans-serif;
  --font-family-2: "Roboto Slab", sans-serif;
  --font-family-3: "Roboto", sans-serif;
}
#universal-nav a {
  color: rgb(105, 104, 104);
  transition: background-color 0.2s ease-out;
}
#universal-nav a:hover {
  color: rgba(6, 5, 90, 0.726);
}

#header-section {
  background-color: orange;
  background-image: linear-gradient(
    to bottom,
    #ffdc00,
    #ffb300,
    #fa8700,
    #f15700,
    #e30000
  );
  height: 40rem;
  padding: 2rem;
  box-shadow: 1px 1px 1px gray;
}
#header-section h1 {
  color: rgba(6, 5, 90, 0.726);
}
#header-section h2 {
  color: rgba(16, 14, 125, 0.726);
}
#header-section strong {
  color: rgb(8, 8, 132);
}
#header-section li {
  margin: 3.2rem 0;
}
#header-section li a {
  font-family: var(--font-family-1);
  font-size: 1.55rem;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 50px;
  padding: 1.2rem;
  transition: background-color 0.5s ease-out;
}
#header-section-ul-first-point {
  background-color: rgba(3, 6, 166, 0.726);
  color: white;
  transition: background-color 0.5s ease-out;
}
#header-section li a:hover {
  background-color: rgba(3, 6, 166, 0.726);
  color: white;
}
#header-section li #header-section-ul-first-point:hover {
  background-color: rgb(49, 49, 211);
}
#what-and-how {
  background-color: rgb(27, 38, 68);
  color: white;
  height: 33rem;
}
#what-and-how .header-and-para {
  padding: 3.5rem;
}
.header-and-para h2 {
  padding: 1rem;
}
#what-and-how ul {
  display: flex;
  justify-content: center;
}
#what-and-how li {
  width: 26%;
  margin: 1rem;
}
#what-and-how li h2 {
  font-size: var(--font-size-medium);
  width: 100%;
  margin-bottom: 1rem;
}
#what-and-how svg {
  height: 3rem;
}
#what-and-how svg,
li h2 {
  color: #ffdc00;
}
#Learn-web-dev-in-100-days {
  background-image: linear-gradient(
    to right top,
    #ff9200,
    #ff7d00,
    #ff6600,
    #ff4900,
    #ff1a00
  );
}

#Learn-web-dev-in-100-days .header-and-para {
  color: rgb(255, 255, 255);
}
#Learn-web-dev-in-100-days ul {
  display: flex;
}
#Learn-web-dev-in-100-days li {
  width: 15%;
}
#Learn-web-dev-in-100-days li h2 {
  width: 100%;
}
