#universal-nav a {
  color: rgb(105, 104, 104);
}
#header-section {
  background-color: orange;
  height: 38rem;
  padding: 2rem 0;
}
#header-section h1 {
  color: rgba(6, 5, 90, 0.726);
}
#header-section h2 {
  color: rgba(16, 14, 125, 0.726);
}
#header-section strong {
  color: rgb(8, 8, 132);
}
