html {
  --font-size-large: 4rem;
  --font-size-medium-large: 2.1rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.7rem;
  --font-family-1: "Roboto Mono", sans-serif;
  --font-family-2: "Roboto Slab", sans-serif;
  --font-family-3: "Roboto", sans-serif;
}
section {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--font-size-large);
  font-family: var(--font-family-1);
  width: 40rem;
  margin: 3.3rem auto;
  text-transform: uppercase;
}
h2 {
  font-size: var(--font-size-medium-large);
  font-family: var(--font-family-2);
  font-weight: 500;
  width: 50rem;
  margin: 3rem auto;
}
body {
  font-family: R;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#arrow-symbol p {
  display: inline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#universal-nav {
  display: flex;
  justify-content: center;
}
#universal-nav ul {
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 1rem 0;
}
#universal-nav li {
  padding: 0.5rem;
}
#universal-nav a {
  font-family: var(--font-family-1);
  font-weight: 600;
}
