body {
  background: linear-gradient(90deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}
header {
  position: static;
}

main ul {
  width: 1400px;
  margin: 0 auto;
}
main li {
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  width: 500px;
}
main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  text-align: right;
}
.actions a {
  padding: 6px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(22, 211, 218);
}
.actions a:hover {
  background-color: rgb(190, 239, 244);
  border-radius: 10px;
}
