body {
  font-family: "QuickSand", sans-serif;
  /* margin: 0; */
}
ul {
  background-color: rgb(250, 146, 63);
  width: 250px;
  list-style: none;
  margin: 10px;
  padding: 0;
}
li {
  background-color: rgb(238, 212, 192);
  width: 100px;
}
p {
  background-color: rgb(211, 88, 209);
  margin: 10px;
  width: 250px;
}
#container {
  background-color: rgb(82, 23, 81);
  padding: 10px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#page-logo a {
  color: rgb(255, 243, 160);
  font-family: "Oleo Script", sans-serif;
  padding: 10px;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
}
