html {
  --color-grey-10: rgb(200, 200, 200);
  --color-grey-20: rgb(170, 170, 170);
  --color-grey-30: rgb(140, 140, 140);
  --color-grey-40: rgb(70, 70, 70);
  --color-grey-50: rgb(49, 49, 49);
  --color-blue-10: rgb(42, 194, 199);
  --color-blue-20: rgb(35, 130, 150);
  --color-blue-30: rgb(20, 110, 110);
}
body {
  background-color: var(--color-grey-20);
}
h1 {
  color: var(--color-grey-50);
}
p {
  color: var(--color-grey-40);
}
#card {
  background-color: var(--color-grey-10);
  width: 30%;
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  transition: background-color 0.2s ease-out 0.1s;
}
#card:hover {
  background-color: var(--color-grey-20);
}
#front {
  padding: 1rem;
}
#front h1 {
  margin-top: 0;
  margin-bottom: 0;
}
#front p {
  margin-top: 0;
  text-align: center;
}
#back {
  padding: 1rem;
}
#back h1 {
  margin-bottom: 0;
}
#back p {
  margin-top: 0;
}
#price {
  background-color: var(--color-blue-10);
  margin: 0 -2rem;
}
a {
  text-decoration: none;
  background-color: var(--color-blue-10);
  color: var(--color-blue-20);
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--color-grey-50);
  border-radius: 2px;
  transition: background-color 0.4s ease-out;
}
a:hover {
  background-color: var(--color-blue-20);
  color: var(--color-blue-10);
}
#pepe {
  object-fit: cover;
  text-align: center;
  height: 30rem;
}
@media (max-width: 48rem) {
  #front {
    padding: 0;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
  }
  #card {
    width: 60%;
    margin: 0 auto;
  }
  #pepe img {
    height: 14rem;
  }
}
