body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: rgb(44, 40, 38);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#main-header {
  background-color: rgb(29, 26, 24);
  height: 5rem;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  color: rgb(238, 164, 80);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}
.menu-button span {
  background-color: rgb(172, 125, 20);
  width: 100%;
  height: 4px;
}

#main-header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
#main-header li {
  margin: 0 1rem;
}
#main-header nav a {
  color: rgb(185, 134, 31);
  font-size: 20px;
}
#main-header nav a:hover {
  color: rgb(285, 164, 31);
  font-size: 1.25rem;
}

#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
}
#side-drawer ul {
  margin: 0;
  padding: 4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#side-drawer li {
  margin: 1rem 0;
}
#side-drawer a {
  color: rgb(254, 239, 213);
  font-size: 2rem;
}
main h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}
#latest-products {
  width: 80%;
  margin: 2rem auto;
}
#latest-products ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.food-item {
  background-color: rgb(228, 206, 182);
  border-radius: 10px;
  overflow: hidden;
}
.food-item img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.food-item-content {
  text-align: center;
  padding: 1rem;
}
.button {
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}
.button:hover {
  background-color: rgb(150, 101, 21);
}

@media (max-width: 46rem) {
  header nav {
    display: none;
  }
  main h1 {
    font-size: 1.5rem;
  }
  #latest-products ul {
    grid-template-columns: 1fr;
  }
}
