<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include("includes/head") %>
      <link rel="stylesheet" href="styles/restaurants.css" />
      <script src="scripts/responsive.js" defer></script>
   </head>
   <body>
      <%- include("includes/header") %> <%- include("includes/aside") %>
      <main>
         <h1>TITLE OF RESTAURANT</h1>
      </main>
   </body>
</html>
